<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% include icon-email.html %} <a href="mailto:{{ site.email }}">  {{ site.email }}</a>
          </li>   
          <li>
              <p id = "footer">  &copy; juniorcareer </p>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3 liststyle">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username%}   
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <p>
            {% include icon-twitter.html username=site.twitter_username %}
          </p>
          {% endif %}
          
          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
          
          {% if site.linkedIn_username %}
          <li>
            {% include icon-linkedIn.html username=site.linkedIn_username %}
          </li>
          {% endif %}
          
          {% if site.pinterest_username %}
          <li>
            {% include icon-pinterest.html username=site.pinterest_username %}
          </li>
          {% endif %}
          
        </ul>
      </div>

      
    </div>

  </div>

</footer>
